{% extends "course/base.html" %}

{% block content %}

<br>
<center><h2>{{ course_name }} Syllabus</h2>
<p>{{ course_overview }}</p></center>
<p style="float:left"><b>Credits:<b> {{ course_credit }}<p><br>
<p style="float:left"><b>Contact Hours Per Week: L:</b> {{ lecture_contact_hours_per_week}} <b>T:</b> {{ tutorial_contact_hours_per_week}} <b>P:</b> {{ practical_contact_hours_per_week}}</p><br>
<p><b>Objective:</b> {{ course_objective}}</p>
<ol>
{% for module in modules %}
<li><b>{{ module.module_title }}</b>: {{module.module_overview}}<br>
<p><b>Objective:</b> {{ module.module_objective}}</p><br>
<p><b>Outcomes:</b> {{ module.module_outcome}}</p><br>
<p><b>Tests:</b> {{ module.module_test}}</p><br>
<p><b>Resources:</b> {{ module.module_resources}}</p>
{{ module.module_body|linebreaks }}<br></li>
<ol type="i">
	{% for unit in units %}
	<li><b>{{ unit.unit_name }}</b>: {{unit.unit_overview}}<br>
	<p><b>Objective:</b> {{ unit.unit_objective}}</p><br>
	<p><b>Outcomes:</b> {{ unit.unit_outcome}}</p><br>
	<p><b>Tests:</b> {{ unit.unit_test}}</p><br>
	<p><b>Resources:</b> {{ unit.unit_resources}}</p>
	{{ unit.unit_body|linebreaks }}<br></li>
	{% endfor %}
</ol>

{% endfor %}
</ol>

<p><b>Outcomes:</b> {{ course_outcome}}</p>
<p><b>Tests:</b> {{ course_test}}</p>
<p><b>Resources:</b> {{ course_resources}}</p>
{% endblock %}
